<div class="modal fade" id="end-order">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">结束工单</h4>
      </div>
      <div class="modal-body">
        <div class="box-body">

          <div class="form-group">
            <label>请确认工单处理完成，点击结束，将通知申请人</label>
{#            <input type="file" id="exampleInputFile" name="file">#}
{#            <p class="help-block">请确认表格内容准确</p>#}
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <a href="/order/order/{{ work_order.id }}/end" class="btn btn-primary">确认结束</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->